doctype html
html
    head
        title MotoKeeper
    include ./includes/css-includes.jade
body
        include ./includes/header.jade
        include ./includes/content.jade
        include ./includes/footer.jade
        include ./includes/js-includes.jade


