div(class='contacts-container' id='contacts')
    span(class='contacts-title') Контакты:
    table(class='contacts__table')
        tr
            td Телефон:
            td
                a(class='contacts__table-link' href='tel:+7(919)723-30-87') +7(919)723-30-87
        tr
            td E-Mail:
            td
                a(class='contacts__table-link' href='mailto:motokeeper@mail.ru') motokeeper@mail.ru
        tr
            td
                div(class='contacts__table-icon-vk')
            td
                a(class='contacts__table-link' href='https://vk.com/motosafe') vk.com/motosafe


