section(class='content')
    div(class='content-logo')
    include ./price-calculator.jade
    include ./motos.jade
    hr(class='content-hr')
    include ./saleship.jade
    hr(class='content-hr')
    include ./main-cameras.jade
    include ./services.jade
    include ./contacts.jade