section(class='foot')
    span(class='foot__block foot__block-city') г. Москва
    span(class='foot__block foot__block-name') "MOTOKEEPER"
    span(class='foot__block foot__block-doc')
        a(href='#') Договор на хранение мототехники