section(class='head')
    div(class='head__menu-container')
        div(class='head__menu-item')
            span(class='head__menu-label') Контакты
            span(class='head__menu-label') Услуги
            span(class='head__menu-label') Бронирование
            span(class='head__menu-label') Главная
    div(class='head__icon-container')
    div(class='head__contacts-container')
        span(class='head__contacts-phone')
            a(class='head__contacts-link' href='tel:+7(919)723-30-87') +7(919)723-30-87
        span(class='head__contacts-email')
            a(class='head__contacts-link' href='mailto:motokeeper@mail.ru') motokeeper@mail.ru
