div(class='calculator-container')
    span(class='calculator-law-phone') Формат ввода: +7(012)345-67-89 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    div(class='calculator__box-container')
        div(class='calculator__box')
            input(class='calculator__box-input' placeholder='Ваше имя' data-bind-keydown='clearError')
        div(class='calculator__box calculator__box-selector-container')
            select(data-bind-change='calculatePrice' data-bind-keydown='clearError')
                option(value='' disabled selected) Тип мотоцикла
                option(value='1200') До 700 куб.см
                option(value='1400') До 1400 куб.см
                option(value='1600') Более 1400 куб. см
                option(value='1800') Max-Size
        div(class='calculator__box calculator__box-selector-container')
            - var n = 1
            select(data-bind-change='calculatePrice' data-month='true' data-bind-keydown='clearError')
                option(value='' disabled selected) Кол-во месяцев
                while n < 7
                    - var m = n++
                    option(value=m)=m
        div(class='calculator__box')
            input(class='calculator__box-input' placeholder='Телефон для связи' data-bind-keydown='clearError' data-bind-keyup='validatePhone')
    span(class='calculator-law') Ваши данные не будут переданы третьим лицам.
    div(class='calculator__button' data-bind-click='sendRequest')
        span(class='calculator__button-label') Бронировать
        div(class='calculator__button-icon')
    span(class='calculator-price') 0 руб.
    span(class='calculator-price-comment') Выберите размер мотоцикла и срок хранения.