div(class='services-container')
    span(class='services-label') Услуги и условия хранения
    ul(class='services__list')
        li(class='services__list-item') Мототехника будет содержаться в <b>круглосуточно охраняемом помещении</b>, оборудованном противопожарной сигнализацией.
        li(class='services__list-item') На протяжении всего срока хранения устанавливается <b>благприятный микроклимат для мототехники </b>с поддержкой необходимой темперетуры и влажности.
        li(class='services__list-item') On-line камеры.
        li(class='services__list-item') Услуги ТО.
        li(class='services__list-item') Услуги консервации/расконсервации (1000 руб.)
        li(class='services__list-item') Чехлы для мототехники.
        li(class='services__list-item') С каждым клиентом заключается<b> <u>договор на хранение мототехники</u></b>
        li(class='services__list-item') <b>Эвакуация и доставка мотоцикла от и до места хранения</b>  по цене 1000 руб
